
Three3D.xcodeproj/xcuserdata/xinning.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Three3D.xcodeproj/project.xcworkspace/xcuserdata/allenj.xcuserdatad/UserInterfaceState.xcuserstate
Three3D.xcodeproj/project.xcworkspace/xcuserdata/xinning.xcuserdatad/UserInterfaceState.xcuserstate
Three3D.xcodeproj/project.xcworkspace/xcuserdata/xinning.xcuserdatad/WorkspaceSettings.xcsettings
Three3D.xcodeproj/xcuserdata/allenj.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Three3D.xcodeproj/xcuserdata/xinning.xcuserdatad/xcschemes/xcschememanagement.plist
Three3D/.DS_Store
Three3D/assets/.DS_Store
Three3D/assets/src/.DS_Store
.DS_Store
